<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>This is User Login Page</title></head>
    <body>
    <form asp-controller="UserLogin" asp-action="Login" method="post">
            <div>
                <label>Email : </label>
                <input type="email" name="email" value="" />
            </div>
            <div>
                <label>Password : </label>
            <input type="password" name="password" value="" />
            </div>
            <div>
            <input type="submit" name="submit" value="submit" />
            </div>
        </form>
    </body>
</html>